/* ------------------
google-font-link 
---------------------*/
body{
    font-family: 'Macondo', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/*------------------
 main-seation
-------------------- */
main{
    height: 100%;
    width: 100%;
}
.banner{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}
.banner{
    width: 950px;
    height: 550px;
    background: #161616;
    border-radius: 30px;
    margin: 90px 40px 25px 144px;
    padding: 20px 120px 0px 40px;
    align-items: center;
    text-align: center;
    row-gap: 50px;
}
.lionel-messi img{
    width: 550px;
    height: 550px;
   
}
.first-section{
    align-items: center; 
    padding-left: 20px;
}
h1{
    font-weight: 25px;
    font-size: 30px;
    margin-bottom: 10px;
}

.first-button{
    width: 150px;
    height: 50px;
    background-color: #DD0000;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    line-height: 10px;
    cursor: pointer;
    transition: width 2s;
    transform: none;
    background: linear-gradient(to right, #fb5283, #ff3527);
}
.first-button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.first-button .fa-solid{
    color: #FFFFFF;
}

/* 
<!-------------------
Group section 
--------------> */
.live-match{
    width: 250px;
    height: 260px;
    display: grid;
    align-content: space-around;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
}
.match-1{
    width: 200px;
    height: 50px;
    background-color: white;
    display: grid;
    align-content: space-around;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 5px; 
}
.match-2{
    width: 200px;
    height: 50px;
    background-color: white;
    display: grid;
    align-content: space-around;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 5px; 
}
.match-3{
    width: 200px;
    height: 50px;
    background-color: red;
    display: grid;
    align-content: space-around;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 5px; 
}
a{
    text-decoration: none;
    font-size: 20px;
}
/* .hr-broder{
    border: 2px solid red;
    border-right-width: 15px;
    size: 25px;
    font-size: 30px;
    text-align: center;
} */
.match .match blog{
    background-color: #DD0000;
}
.blog-color{
    color: #FFFFFF;
}
.group-section{
    display: flex;
}
.main-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    margin-bottom: 24px;
    margin: 10px;
    row-gap: 24px;
}
.blog-section{
    width: 312px;
    height: 362px;
    border: 1px solid gray;
    border-radius: 10px;
}
.blog-images{
    width: 312px;
    height: 175px;
}
.transfer-buttom{
    font-size: 16px;
    border-radius: 5px 5px 2px 2px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
    padding-top: 0px;
}
.blog-right{
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mane-icon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-right: 10px;
    margin: 0px 80px 30px 10px;   
}
h4{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.fa-solid{
    color: rgb(111, 134, 30);
}

/* ----------
footer 
-----------*/
.footer-section{
    width: 1290px;
    height: 350px;
    background-color: black;
    color: #FFFFFF;
    padding: 50px;
    margin-top: 118px;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #161616;
    width: 1100px;
    justify-content: center;
}
.footer-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px 100px 120px 100px;
    color: #FFFFFF;
}
.link-tag{
    color: #FFFFFF;
    font-size: 20px;
}
.footer-icon{
    display: none;
} 
/* --------------------
Media Queries 
-------------------*/
/* ---------------------Mobile-Devices ------------------*/
@media only screen and (max-width: 768px) {
    .cover{
        width: 100%;
        height: 100vh;
    }
    .banner{
        width: 100%;
        height: 100%;
        background-color: red;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0px;
        text-align: center;
        justify-content: space-around;
    }
    .banner{
        margin: 0px;
        border: 0px;
        border-radius: 10px;
    }
    .lionel-messi{
        width: 500px;
        height: 490px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .lionel-messi img{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .first-section{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-right: 80px;
    }
    /* group-section */
    .group-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
    }
    .live-match{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #FFFFFF;
        align-items: center;
    }
    .main-blog{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
    }
    .view{
        display: none;
    }
    /* ------------------
    footer-section 
    ------------------*/
    .footer-section{
        width: 375px;
        height: 412px;
    }
    .footer-tag{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
        column-gap: 30px;
        margin: 0px;
    }
    .footer-icon{
        display: flex;
        margin-top: 20px;
        column-gap: 30px;
    }
}
/*---------------------
 tablet 
 -------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover{
        width: 100%;
        height: 100vh;
    }
    .banner{
        background-color: aquamarine;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0px;
        text-align: center;
        justify-content: space-around;
    }
    .banner{
        display: flex;
        color: white;
        flex-direction: row;
        justify-content: space-between;
    }
    .banner{
        width: 734px;
        height: 398px;
        background: #161616;
        border-radius: 30px;
        margin: 90px 40px 25px 40px;
        padding: 20px 120px 20px 40px;
        align-items: center;
        text-align: center;
    }
    .lionel-messi img{
        width: 500px;
        height: 445px;
    }
    .first-section{
        align-items: center; 
        padding-left: 20px;
    }
    h1{
        font-weight: 15px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .first-button{
        width: 150px;
        height: 50px;
        background-color: #DD0000;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        line-height: 10px;
        cursor: pointer;
        transition: width 2s;
        background: ;
        transform: none;
        background: linear-gradient(to right, #fb5283, #ff3527);
    }
    .first-button:hover{
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    .first-button .fa-solid{
        color: #FFFFFF;
    }
    .group-section{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
        margin-top: 0px;
        margin: 50px;
    }
    /* .live-match{
        display: flex;
        grid-template-rows: repeat(1, 1fr);
        background-color: #FFFFFF;
        align-items: center;
        font-size: 20px;
        border: 20px;
        padding: 20px;
    } */
    .live-match{
        color: #FFFFFF;
    }
    .main-blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
    }
    .view{
        background-color: #DD0000;
        font-size: 25px;
        border: 1px solid;
        padding: 10px;
        margin: 10px;
        margin-top: 50px;
        border-radius: 5px;
    }
}